<!DOCTYPE html>
<html>
	<head>
		<title><%= appTitle %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= intro %></h1>
		<p><%= descripcion %></p>
		<p><a href="/quizes/question">Jugar ahora!</a></p>
	</body>
</html>
