* {
	margin: 0px;
	padding: 0px;
}

body {
  font: 16px "Trebuchet MS", Helvetica, sans-serif;
}

#page-wrap {
	margin: 2% auto;
	color: #FFF;
}

#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: #AA3939;
}

#errorMsgs {
	color: #A00;
	font-size: smaller;
}

section > div {
	padding: 20px;
}

header h2 {
	color: #AA3939;
}

header {
	background: #FFBFBF;
	text-align: center;
}

nav, section {
	background: #EEE;
	text-align: center;
}

footer {
	background: #EEE;
	text-align: center;
}

nav span {
	margin: 0px 10px 0px 0px;
}

nav span a {
	color: #AA3939;
	text-decoration: none;
}

nav span a:hover {
	font-weight: bold;
}

nav td {
	text-align: left;
}

nav td a {
	color: #AA3939;
	text-decoration: none;
}

nav td a:hover {
	font-weight: bold;
}

section p a {
	color: #AA3939;
	text-decoration: none;
}

section p a:hover {
	text-decoration: underline;
}

section td {
	text-align: left;
}

section td a {
	color: #AA3939;
	text-decoration: none;
}

section td a:hover {
	text-decoration: underline;
}

.button {
	color: #eee;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #AA3939;
	padding: 1px 3px 0px 2px;
}
