<label for="pregunta" class="rem">Pregunta:</label>
<input id="pregunta" type="text" name="quiz[pregunta]" value="<%= quiz.pregunta %>" /><br /><br />
<label for="respuesta" class="rem">Respuesta:</label>
<input id="respuesta" type="text" name="quiz[respuesta]" value="<%= quiz.respuesta %>" /><br /><br />
<input type="submit" class="button" value="Guardar" />
<a href="/quizes"><input type="button" class="button" value="Cancelar" /></a>
