<p>
	<form method="get" action="/quizes/<%= quiz.id %>/answer">
		Pregunta: <%= quiz.pregunta %><br /><br />
		<input type="text" name="respuesta" value="Responda aquí" />
		<input type="submit" class="button" value="Enviar" />
	</form>
</p>
<br /><br /><br />
<p>
	<a href="/quizes/<%= quiz.id %>/comments/new"><button class="button">Comentar</button></a>
</p>
<p>
	<strong>Comentarios</strong><br /><br />
	<% for(comment in quiz.Comments) { %>
		- <%= quiz.Comments[comment].texto %><br />
	<% } %>
</p>