<p>
	<form method="post" action="/login">
		Login<br /><br />
		<label for="login">Usuario:</label>
		<input type="text" id="login" name="login" size="30" /><br /><br />
		<label for="password">Contraseña:</label>
		<input type="password" id="password" name="password" size="30" /><br /><br />
		<input type="submit" class="button" value="Enviar" />
	</form>
</p>